<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout::areas(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolshop - Thống kê</title>
</head>

<body>
    <main>
        <div class="row m-0">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" th:href="@{/admin/report}">Doanh thu</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/admin}">Đơn hàng</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/admin/report}">Sản phẩm</a>
                </li>
              </ul>
        </div>
        
    </main>
</body>

</html>