<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<ul th:fragment="sidebar" class="navbar-nav w-100 bg-gradient-primary sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		    <!-- Page Wrapper -->
			<div id="wrapper">

				<!-- Sidebar -->
				<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
		
					<!-- Sidebar - Brand -->
					<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
						<div class="sidebar-brand-icon rotate-n-15">
							<i class="fas fa-laugh-wink"></i>
						</div>
						<div class="sidebar-brand-text mx-3">EVOL STORE</div>
					</a>
		
					<!-- Divider -->
					<hr class="sidebar-divider my-0">
		
					<!-- Nav Item - Dashboard -->
					<li class="nav-item active">
						<a class="nav-link" th:href="@{/admin}">
							<i class="fas fa-fw fa-tachometer-alt"></i>
							<span>Dashboard</span></a>
					</li>
		
					<!-- Divider -->
					<hr class="sidebar-divider">
		
					<!-- Heading -->
					<div class="sidebar-heading">
						Management
					</div>

		
					<!-- Nav Item - Product -->
					<li class="nav-item">
						<a class="nav-link" th:href="@{/admin/product}" >
							<i class="bi bi-list-task"></i>
							<span>Sản phẩm</span></a>
					</li>
		

					<!-- Nav Item - Order -->
					<li class="nav-item">
						<a class="nav-link" th:href="@{/admin/order}">
							<i class="bi bi-cart4"></i>
							<span>Đơn hàng</span></a>
					</li>

					<!-- Nav Item - authorization -->
					<li class="nav-item">
						<a class="nav-link" th:href="@{/admin/authorization}">
							<i class="bi bi-person-square"></i>
							<span>Phân quyền người dùng</span></a>
					</li>

					<!-- Nav Item - Payment -->
					<!-- <li class="nav-item">
						<a class="nav-link" href="#">
							<i class="bi bi-calculator"></i>
							<span>Thanh toán</span></a>
					</li> -->

					<!-- Nav Item - Statistic -->
					<li class="nav-item">
						<a class="nav-link"  th:href="@{/admin/report}">
							<i class="bi bi-bar-chart"></i>
							<span>Thống kê</span></a>
					</li>
		
					<!-- Divider -->
					<hr class="sidebar-divider d-none d-md-block">
		
					<!-- Sidebar Toggler (Sidebar) -->
					<!-- <div class="text-center d-none d-md-inline">
						<button class="rounded-circle border-0" id="sidebarToggle"></button>
					</div> -->
		
					<!-- Sidebar Message -->
					<!-- <div class="sidebar-card d-none d-lg-flex">
						<img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
						<p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
						<a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
					</div> -->
		
				</ul>
	</ul>
</body>

</html>