<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout::areas(~{::title},~{::main})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolshop - Quản lí sản phẩm</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="filter"></div>
            <div class="listProduct">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-start" style="width: 50px;">
                                <input type="checkbox" name="" id="">
                            </th >
                            <th style="width: 80px;"></th>
                            <th class="text-start">Sản phẩm</th>
                            <th class="text-start">Giá</th>
                            <th class="text-start">Màu</th>
                            <th class="text-start">Size</th>
                            <th class="text-start">Loại</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-start">
                                <input type="checkbox" name="" id="">
                            </td>
                            <td class="text-center">
                                <img src="/images/product/product1.png" style="width: 50px;" alt="">
                            </td>
                            <td>Tên sản phẩm</td>
                            <td>25.000</td>
                            <td>Trắng, đen</td>
                            <td>25.000</td>
                            <td>Áo</td>
                            <td><button type="button" class="btn btn-light"><i class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td class="text-start">
                                <input type="checkbox" name="" id="">
                            </td>
                            <td class="text-center">
                                <img src="/images/product/product1.png" style="width: 50px;" alt="">
                            </td>
                            <td>Tên sản phẩm</td>
                            <td>25.000</td>
                            <td>Áo</td>
                            <td><button type="button" class="btn btn-light"><i class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td class="text-start">
                                <input type="checkbox" name="" id="">
                            </td>
                            <td class="text-center">
                                <img src="/images/product/product1.png" style="width: 50px;" alt="">
                            </td>
                            <td>Tên sản phẩm</td>
                            <td>25.000</td>
                            <td>Áo</td>
                            <td><button type="button" class="btn btn-light"><i class="bi bi-trash"></i></button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>